
<div class="jumbotron text-center">
     <h1>Product</h1>
   </div>
     
   <div class="container"> 
     <table border="1" class="text-center">
          <tr class="bg-primary" >
              <th>Id</th>
              <th>name</th>
              <th>price</th>
              <th>description</th>
              <th>color</th>
              <th>createdAt</th>
              <th>image</th>
                       
          </tr>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.description %></td>
                        <td><%= product.color %></td>
                        <td><%= product.createdAt %></td>
                        <td><%= product.image %></td>    
                    </tr>
                    
       
     </div>
   </div>
   